*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}

body{
    font-family: "Public Sans", sans-serif;
    font-size:1.2rem;
    min-height: 100%;
}

.grid-container > * {
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}
.header{
    grid-area: header;
    background-color: #999999;
    color: #fff;
}
.navbar{
    grid-area: navbar;
    background-color: #999999;
    color: #fff;
}
.sidebar{
    grid-area: sidebar;
    background-color: #999999;
    color: #fff;
}
.main{
    grid-area: main;
    background-color: #999999;
    color: #fff;
}
.footer{
    grid-area: footer;
    background-color: #333;
    color: #fff;
}

.grid-container{
    display: grid;
    grid-template: 
    "header" 100px
    "navbar" 50px
    "main"  auto
    "sidebar" 100px
    "footer" 100px; 
    gap: 10px;
}
@media (min-width: 600px){
    .grid-container{
        grid-template: 
        "header     header " 100px
        "navbar     navbar " 50px
        "sidebar    main"   auto
        "footer     footer" 100px /
        200px       auto;
    
    }
}
@media (min-width: 900px){
    .grid-container{
        grid-template: 
        "header     header  header " 100px
        "navbar     main    sidebar"   auto
        "footer     footer  footer" 100px /
        200px       auto    200px;
    
    }
}

.contenido{
    display: none;
}